form {
    display: grid;
    margin: 1cm;
    grid-row-gap: 2em;
}

button {
    display: inline-block;
    background-color: #227bc3;
    border-radius: 10px;
    border: 4px #cccccc;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    padding: 10px;
    width: 150px;
    height: 60px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    margin-top: 30px;
}

button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

button span:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

button:hover {
    background-color: #77a2c2;
}

button:hover span {
    padding-right: 25px;
}

button:hover span:after {
    opacity: 1;
    right: 0;
}

.task-form label {
    display: block;
    margin-bottom: 10px;
}

.task-form .form-input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

input {
    margin-left: 20px;
}

select {
    margin-left: 20px;
}