table {
    border-collapse: collapse;
}

table,
th,
td {
    border: 2px solid #000;
    padding: 8px;
}

#deleteButton{
    background-color: rgb(163, 49, 49);
    width: 80px;
}

#updateButton{
    background-color: rgb(107, 183, 50);
}

.listButtons{
    width: 80px;
    margin: 15px;
}

#listHeader {
    width: 40%;
}
